
profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
       process {
         withName: MLST{
               conda = "${baseDir}/mlst.yml"
         }
         withName: MLST_FORCE{
               conda = "${baseDir}/mlst.yml"
         }
      }
   }

}
